.teste{
    color:red
}

.header{
    width: 100%;
    height: 12.5rem;
    background-color: var(--gray-700);
}

.content{
    position: absolute;
    display: flex;
    left: calc(50% - 150px/2 + 12px);
    top:72px;
}

.img{
    position: relative;
    height: 36px;
    top:10px;
    margin-right: 10px;
}
.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}
.textTo{
    color: var(--blue);
}

.textDo{
    color: var(--purple-dark);
}