.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.list img{
    height: 24px;
    width: 24px;
}

.text{
    color:var(--gray-300);
    margin-left: 10px;
    margin-right: 10px;
    /* text-decoration-line: line-through; */
}